# {{ ansible_managed }}
*filter
:INPUT {{ firewall_input_policy }} [0:0]
:FORWARD {{ firewall_forward_policy }} [0:0]
:OUTPUT ACCEPT [0:0]
:FILTERS - [0:0]
:DOCKER-USER - [0:0]

-F INPUT
-F DOCKER-USER
-F FILTERS

-A INPUT -i lo -j ACCEPT
-A INPUT -p icmp --icmp-type any -j ACCEPT
-A INPUT -j FILTERS

-A DOCKER-USER -i {{ firewall_wan_interface }} -j FILTERS

-A FILTERS -m state --state ESTABLISHED,RELATED -j ACCEPT
-A FILTERS -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT
{% for port in firewall_open_ports_tcp | default([]) %}
-A FILTERS -m state --state NEW -m tcp -p tcp --dport {{ port }} -j ACCEPT
{% endfor %}
{% for port in firewall_open_ports_udp | default([]) %}
-A FILTERS -m state --state NEW -m udp -p udp --dport {{ port }} -j ACCEPT
{% endfor %}

{% for item in firewall_custom_filter | default([]) %}
# {{item.label}}
-A FILTERS -m state --state NEW -m {{item.proto}} -p {{item.proto}} {% if item.port is defined %}--dport {{item.port}}{% endif %} {% if item.iface is defined %}-i {{item.iface}}{% endif %} {% if item.source is defined %}-s {{item.source}}{% endif %} {% if item.dest is defined %}-d {{item.dest}}{% endif %} -j ACCEPT
{% endfor %}

{% if firewall_logging_enabled %}
-A FILTERS -m limit --limit 2/sec -j LOG --log-prefix "FWREJECT:" --log-level 4
{% endif %}
-A FILTERS -j REJECT --reject-with icmp-host-prohibited

COMMIT
